{% extends "template_base.html" %}

{% block content %}

    <section class="funcionalidades">
        <div class="funcionalidad">
            <a href="{{ url_for('Registrar_P') }}">
                <div class="cuadro">
                    <h2>Registrar Paquete</h2>
                </div>
            </a>
        </div>
        <div class="funcionalidad">
            <a href="{{ url_for('Registrar_S') }}">
                <div class="cuadro">
                    <h2>Registrar Salida</h2>
                </div>
            </a>
        </div>
        <div class="funcionalidad">
            <a href="{{ url_for('Registrar_Ll') }}">
                <div class="cuadro">
                    <h2>Registrar Salida</h2>
                </div>
            </a>
        </div>
    </section>
{% endblock %}